@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');

.calendar-container {
  display: flex;
  flex-flow: row wrap;
  width: 100%;
  height: 100%;
  margin: auto;
  justify-content: center;
  align-items: start;
  font-family: 'Quicksand', sans-serif;
}
.cal-modal {
  background: #ffffff;
  color: #000000;
  text-align: center;
  display: flex;
  margin-bottom: 20px;
}
.cal-modal h3 {
  font-size: 37px;
  font-weight: 900;
  margin: 0 0 1rem;
}

#calendar {
  display: flex;
  border-radius: 10px;
}
#calendar .placeholder {
  display: none;
  width: 300px;
}
#calendar .flatpickr-calendar {
  background: none;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: #000000;
  top: 0;
  width: unset;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-innerContainer .flatpickr-weekdays {
  overflow: visible;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month {
  color: inherit;
  background-color: #288203;
  color: white;
  border-radius: 4px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month {
  font-size: 16px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flatpickr-month .flatpickr-current-month span.cur-month {
  margin-left: unset;
}
.flatpickr-current-month .flatpickr-monthDropdown-months option {
  color: black;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-month .flatpickr-current-month .numInputWrapper {
  display: none;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  top: 0;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg {
  height: 12px;
  width: 12px;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month svg path, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month svg path {
  fill: #ffffff;
  stroke: #fff;
  stroke-width: 1;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month {
  left: 70px;
  display: flex;
  align-items: center;
  padding: 0;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-prev-month.flatpickr-disabled svg, #calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month.flatpickr-disabled svg {
  display: none;
}
#calendar .flatpickr-calendar .flatpickr-months .flatpickr-next-month {
  right: 70px;
  display: flex;
  align-items: center;
  padding: 0;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer {
  position: relative;
  justify-content: space-evenly;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer::after {
  content: "";
  background: #343F48;
  position: absolute;
  top: -32px;
  bottom: -230px;
  right: 0;
  width: 1px;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-weekdays .flatpickr-weekdaycontainer .flatpickr-weekday {
  color: #4F4F4F;
  font-weight: 100;
  font-size: 12px;
}
#calendar .flatpickr-calendar .flatpickr-days {
  width: 350px;
}
#calendar .flatpickr-calendar .dayContainer {
  box-shadow: none;
  position: static;
  gap: 7px;
  justify-content: space-evenly;
  width: unset;
  max-width: unset;
  min-width: unset;
}
#calendar .flatpickr-calendar .dayContainer:last-child::after {
  content: none;
}
#calendar .flatpickr-calendar .flatpickr-day {
  /* background: rgb(226, 242, 212); */
  background: #F2F5F7;
  border: 0;
  color: #1D252C;
  font-weight: 500;
  transition: color 0.1s, background 0.1s;
}
#calendar .flatpickr-calendar .flatpickr-day:hover {
  background: #b8b8b8;
  color: #000000;
}
#calendar .flatpickr-calendar .flatpickr-day.flatpickr-disabled {
  background: #F2F5F7;
  color: #010101;
  cursor: default;
}
#calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden), #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):hover, #calendar .flatpickr-calendar .flatpickr-day.selected:not(.hidden):focus {
  background: #288203;
  color: #ffffff;
}
#calendar .flatpickr-calendar .flatpickr-day.nextMonthDay, #calendar .flatpickr-calendar .flatpickr-day.prevMonthDay {
  background: none;
  cursor: default;
  visibility: hidden;
}
.events-container {
  text-align: center;
  margin: 0 20px;
}
.events-header {
  background-color: #288203;
  border-radius: 4px;
  margin: 0;
  padding: 7px 14px;
  color: white;
  display: flex;
  justify-content: space-between;
}
.calendar-events {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  row-gap: 10px;
  margin-top: 10px;
  width: 400px;
}
/* @media screen and (min-width: 992px) {
  .calendar-events {
    display: flex;
    justify-content: space-around;
  }
} */
.calendar-events .event {
  background-color: #F0F0F0;
  border-radius: 6px;
  padding: 15px 20px;
  text-align: left;
}
.calendar-events .event .title-container {
  display: flex;
  align-items: start;
  column-gap: 20px;
  margin-bottom: 10px;
}
.calendar-events .event .title {
  color: #288203;
  font-size: 20px;
}
.calendar-events .event .location {
  color: #288203;
  font-size: 14px;
}
.calendar-events .event .location {
  font-size: 16px;
}
#calendar .flatpickr-calendar .flatpickr-day.today {
  background-color: rgb(226, 242, 212);
}
.dot-container {
  display: flex;
  flex-flow: row nowrap;
  column-gap: 3px;
  justify-content: center;
  margin-top: 1px;
}
.dot {
  width: 5px;
  height: 5px;
  border-radius: 150px;
  left: calc(50% - 1.5px);
  content: " ";
  display: block;
  background: #288203;
}